#countlabel
{
    display: block;
    text-align: center;
    font-size: 20em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btncontainer
{
    display: block;
    text-align: center;
}

.buttons
{
    padding: 15px 20px;
    font-size:2em;
    color:white;
    background-color: gold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.25s color 0.25s;
}

.buttons:hover
{
    background-color: rgb(255, 255, 255);
    color:black;
}

body
{
    background-color: skyblue;
}


